<header class="header">
  <div class="header-contenedor">
    <div class="header-barra">
      <a href="">
        <img
          src="../../../assets/img/logo.svg"
          alt="Imagen Logo"
          class="header-logo"
        />
      </a>
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="modelo">
      <h1 class="modelo-nombre">Modelo VAI</h1>
      <p class="modelo-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        delectus earum explicabo sed voluptatum voluptate ipsam magnam autem,
        consequatur exercitationem molestiae ipsum possimus est nihil animi
        consectetur. Eveniet, incidunt quos.
      </p>
      <p class="modelo-precio">
        $399
      </p>
      <button routerLink="/producto" class="modelo-enlace" >Ver producto</button>
    </div>
  </div>
  <img src="../../../assets/img/header_guitarra.png" alt="imagen header guitarra" class="header-guitarra">
</header>
