

  <section class="cursos ">
    <div class="capa" >
    <div class="cursos-contenedor cursos-grid">
      <div class="cursos-contenido">
        <h2 class="cursos-heading">Aprende a tocar guitarra</h2>
        <p class="cursos-texto">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. In, fuga
          maxime. Odio illo, tempora, tenetur cum recusandae iste ipsam facere
          architecto odit corporis aut voluptatibus consequuntur itaque eaque,
          eligendi cumque?
        </p>
        <button class="curso-enlace">Más información </button>
      </div>
    </div>
  </div>
  </section>
  