<main class="productos productos-contenedor">
  <h2 class="productos-heading">Nuestra Colección</h2>
  <div class="productos-grid">
    <div class="producto">
      <img
        class="producto-imagen"
        src="../../../assets/img/guitarra_01.jpg"
        alt="Imagen del producto "
      />
      <div class="producto-contenido">
        <h3 class="producto-nombre">Lukather</h3>
        <p class="producto-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minus,
          labore dolorem consequatur explicabo voluptatum delectus.
        </p>
        <p class="producto-precio">$299</p>
        <button class="producto-enlace" >Ver Producto</button>
      </div>
    </div>
    <div class="producto">
      <img
        class="producto-imagen"
        src="../../../assets/img/guitarra_02.jpg"
        alt="Imagen del producto "
      />
      <div class="producto-contenido">
        <h3 class="producto-nombre">SRV</h3>
        <p class="producto-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minus,
          labore dolorem consequatur explicabo voluptatum delectus.
        </p>
        <p class="producto-precio">$299</p>
        <button class="producto-enlace" >Ver Producto</button>
      </div>
    </div>
    <div class="producto">
      <img
        class="producto-imagen"
        src="../../../assets/img/guitarra_03.jpg"
        alt="Imagen del producto "
      />
      <div class="producto-contenido">
        <h3 class="producto-nombre">Borland</h3>
        <p class="producto-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minus,
          labore dolorem consequatur explicabo voluptatum delectus.
        </p>
        <p class="producto-precio">$299</p>
        <button class="producto-enlace" >Ver Producto</button>
      </div>
    </div>
    <div class="producto">
      <img
        class="producto-imagen"
        src="../../../assets/img/guitarra_04.jpg"
        alt="Imagen del producto "
      />
      <div class="producto-contenido">
        <h3 class="producto-nombre">VAI</h3>
        <p class="producto-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minus,
          labore dolorem consequatur explicabo voluptatum delectus.
        </p>
        <p class="producto-precio">$299</p>
        <button class="producto-enlace" >Ver Producto</button>
      </div>
    </div>
    <div class="producto">
      <img
        class="producto-imagen"
        src="../../../assets/img/guitarra_05.jpg"
        alt="Imagen del producto "
      />
      <div class="producto-contenido">
        <h3 class="producto-nombre">Thompson</h3>
        <p class="producto-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minus,
          labore dolorem consequatur explicabo voluptatum delectus.
        </p>
        <p class="producto-precio">$299</p>
        <button class="producto-enlace" >Ver Producto</button>
      </div>
    </div>
    <div class="producto">
      <img
        class="producto-imagen"
        src="../../../assets/img/guitarra_06.jpg"
        alt="Imagen del producto "
      />
      <div class="producto-contenido">
        <h3 class="producto-nombre">White</h3>
        <p class="producto-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minus,
          labore dolorem consequatur explicabo voluptatum delectus.
        </p>
        <p class="producto-precio">$299</p>
        <button class="producto-enlace" >Ver Producto</button>
      </div>
    </div>
    <div class="producto">
      <img
        class="producto-imagen"
        src="../../../assets/img/guitarra_07.jpg"
        alt="Imagen del producto "
      />
      <div class="producto-contenido">
        <h3 class="producto-nombre">Cobain</h3>
        <p class="producto-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minus,
          labore dolorem consequatur explicabo voluptatum delectus.
        </p>
        <p class="producto-precio">$299</p>
        <button class="producto-enlace" >Ver Producto</button>
      </div>
    </div>
    <div class="producto">
      <img
        class="producto-imagen"
        src="../../../assets/img/guitarra_08.jpg"
        alt="Imagen del producto "
      />
      <div class="producto-contenido">
        <h3 class="producto-nombre">Dale</h3>
        <p class="producto-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minus,
          labore dolorem consequatur explicabo voluptatum delectus.
        </p>
        <p class="producto-precio">$299</p>
        <button class="producto-enlace" >Ver Producto</button>
      </div>
    </div>
    <div class="producto">
      <img
        class="producto-imagen"
        src="../../../assets/img/guitarra_09.jpg"
        alt="Imagen del producto "
      />
      <div class="producto-contenido">
        <h3 class="producto-nombre">Krieger</h3>
        <p class="producto-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minus,
          labore dolorem consequatur explicabo voluptatum delectus.
        </p>
        <p class="producto-precio">$299</p>
        <button class="producto-enlace" >Ver Producto</button>
      </div>
    </div>
    <div class="producto">
      <img
        class="producto-imagen"
        src="../../../assets/img/guitarra_10.jpg"
        alt="Imagen del producto "
      />
      <div class="producto-contenido">
        <h3 class="producto-nombre">Campbell</h3>
        <p class="producto-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minus,
          labore dolorem consequatur explicabo voluptatum delectus.
        </p>
        <p class="producto-precio">$299</p>
        <button class="producto-enlace" >Ver Producto</button>
      </div>
    </div>
    <div class="producto">
      <img
        class="producto-imagen"
        src="../../../assets/img/guitarra_11.jpg"
        alt="Imagen del producto "
      />
      <div class="producto-contenido">
        <h3 class="producto-nombre">Reed</h3>
        <p class="producto-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minus,
          labore dolorem consequatur explicabo voluptatum delectus.
        </p>
        <p class="producto-precio">$299</p>
        <button class="producto-enlace" >Ver Producto</button>
      </div>
    </div>
    <div class="producto">
      <img
        class="producto-imagen"
        src="../../../assets/img/guitarra_12.jpg"
        alt="Imagen del producto "
      />
      <div class="producto-contenido">
        <h3 class="producto-nombre">Hazel</h3>
        <p class="producto-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minus,
          labore dolorem consequatur explicabo voluptatum delectus.
        </p>
        <p class="producto-precio">$299</p>
        <button class="producto-enlace" >Ver Producto</button>
      </div>
    </div>
  </div>
</main>
