<div class="blog blog-contenedor">
  <h2 class="blog-heading">Nuestro Blog</h2>
  <div class="blog-contenedor blog-grid">
    <article class="entrada">
      <img
        class="entrada-imagen"
        src="../../../assets/img/blog_1.jpg"
        alt="imagen de la entrada"
      />
      <div class="entrada-contenido">
        <h1 class="entrada-titulo">¿Como Elegir tu primera guitarra?</h1>
        <h2 class="entrada-fecha">20 de enero 2022</h2>
        <p class="entrada-description" >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quas
          quaerat facilis repellat cum exercitationem earum assumenda architecto
          deleniti eveniet. Deserunt enim modi maiores illum porro sint unde
          nostrum fugiat.
        </p>
        <button class="entrada-enlace" >Leer Entrada</button>
      </div>
    </article>
    <article class="entrada">
      <img
        class="entrada-imagen"
        src="../../../assets/img/blog_2.jpg"
        alt="imagen de la entrada"
      />
      <div class="entrada-contenido">
        <h1 class="entrada-titulo">¿Como Elegir tu primera guitarra?</h1>
        <h2 class="entrada-fecha">20 de enero 2022</h2>
        <p class="entrada-description" >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quas
          quaerat facilis repellat cum exercitationem earum assumenda architecto
          deleniti eveniet. Deserunt enim modi maiores illum porro sint unde
          nostrum fugiat.
        </p>
        <button class="entrada-enlace" >Leer Entrada</button>
      </div>
    </article><article class="entrada">
      <img
        class="entrada-imagen"
        src="../../../assets/img/blog_3.jpg"
        alt="imagen de la entrada"
      />
      <div class="entrada-contenido">
        <h1 class="entrada-titulo">¿Como Elegir tu primera guitarra?</h1>
        <h2 class="entrada-fecha">20 de enero 2022</h2>
        <p class="entrada-description" >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quas
          quaerat facilis repellat cum exercitationem earum assumenda architecto
          deleniti eveniet. Deserunt enim modi maiores illum porro sint unde
          nostrum fugiat.
        </p>
        <button class="entrada-enlace" >Leer Entrada</button>
      </div>
    </article><article class="entrada">
      <img
        class="entrada-imagen"
        src="../../../assets/img/blog_4.jpg"
        alt="imagen de la entrada"
      />
      <div class="entrada-contenido">
        <h1 class="entrada-titulo">¿Como Elegir tu primera guitarra?</h1>
        <h2 class="entrada-fecha">20 de enero 2022</h2>
        <p class="entrada-description" >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quas
          quaerat facilis repellat cum exercitationem earum assumenda architecto
          deleniti eveniet. Deserunt enim modi maiores illum porro sint unde
          nostrum fugiat.
        </p>
        <button class="entrada-enlace" >Leer Entrada</button>
      </div>
    </article>
    
  </div>
</div>
